.content-wrapper {
    background: none !important;
    height: 100% !important;
    overflow: hidden !important
}

.home {
    padding: 90px 0 0 5vw;
    color: rgb(252, 252, 252);
}

.home .home-summary {
    width: fit-content;
    padding-top: 5px;
    padding-left:45px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25)
}

.home h2 {
    font-size: 20px;
    padding-bottom: 5px
}

.home nav {
    margin: 110px 0
}

.home nav ul {
    list-style: none;
    margin: 0;
    padding: 0px 165px
}

.home ul li{
    margin-left: 65px;
    padding-left: 15px
}

.home nav ul li {
    margin-bottom: 15px;
}

.home-quick-links li {
    text-decoration: none;
    padding: 8px 12px;
    width: auto;
    border-radius: 2px;
    font-size: 13px;
    color: rgba(255, 255, 255,0.99);
    letter-spacing: 0.1em;
    background-color: rgba(231, 245, 215, 0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5)
}



.home nav a:hover {
    background-color: rgba(22,63,184,0.92549)
}

@media (max-width: 1000px) {
    .home nav a {
        font-size:16px;
        color: rgba(190, 229, 235,0.8)
    }
}

@media (max-width: 1000px) {
    .home nav {
        margin:100px 0
    }
}

@media (max-width: 450px) {
    .home nav {
        margin:50px 0
    }
}

.home p {
    font-size: 18px;
    color: white;
    width: auto;
    height: auto;
    padding-left: 100px;
    border-radius: 4px
}

@media (max-width: 1000px) {
    .home {
        padding:15px 0 0 1vw
    }

    .home h1 {
        padding-left: 45px;
        font-size: 30px
    }

    .home p {
        font-size: 16px
    }
}

@media (max-width: 450px) {
    .home {
        padding:0 0 0 1vw
    }

    .home .home-summary {
        padding-top: 5px
    }
}

@media (max-width: 323px) {
    .home .student {
        color:white !important
    }
}
